body
{
        margin: 0;
		padding: 0;
		background: url("isha.jpg");
		background-size : cover;
		front-family: sans-serif;
}		            
            

	input[type="submit"]
{
	border:none;
	outline:none;
	height:40px;
	color:#fff;
	font-size:16px;
	background :rgb(255,38,126);
	cursor:pointer;
	border-radius: 20px;
	
}
input[type="submit"] :hover
{
	background :#efed40;
	color :#262626;
}
 video{
 	border: 10px solid #fff;

 	 box-sizing: border-box;

 }
 